p{
color: #000;
font-size: 1.3em
}
a{
color:blue
}

body {
   font-size: 0.8em;
   color: navy;
}

h1 {
color:#ffc;
background-color:#009;
}




.class {
color:#cc0;
background-color:#090;
}

#ident{
background-color:#570;
}

a.selector:hover{
color:red;
}

.overflow{
overflow: auto;
 max-height: 100%;
}

#navigation {
   position: absolute;
   top: 0;
   left: 0;
   width: 10em;
}

#navigation2 {
   position: absolute;
   top: 0;
   right: 0;
   width: 10em;
}

#content {
   /* устанавливаем верхний и нижний отступы в 0, а правый и левый – в 10em */
   margin: 0 10em;
}



/*горизонтальное меню*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "@";
  color: #0f0;
 
}

.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #170;}
.menu-main a.current, .menu-main a:hover{color: #1fc;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 1px;
  top: auto;
  right: 30%;
  bottom: -5px;
  left: 30%;
  background: #1fc;
  transition: .8s;
}


@media(max-width: 350px) {
	body p{
		background: #047;
                display:none
	}
}
@media (max-width: 350px){
body img{
    width: 100%;
}
}
@media(max-width: 350px) {
	body{
		background: #200540
                
	}
            }



.menu-main a:active
{
	background: #003
}



/*отступы у картинок*/
.image-right {
    float:right;
    margin-left:5%;
    margin-bottom:1%
}

.image-left{
    float:left;
    margin-right:5%;
    margin-bottom:1%
}




.clear-right {
    clear: right;
}

.clear-left{
    clear: left;
}

body ol {
    margin-bottom:500;
}